.UpdateContainer {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.UpdateContainer div {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.UpdateContainer div label {
  font-size: 14px;
  font-weight: 650;
  color: #a8a29e;
  margin-bottom: -15px;
  margin-top: 15px;
}
.UpdateContainer div input {
  width: auto;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #44403c;
  padding: 10px;
  color: #a8a29e;
  background: none;
  background: #44403c;
}

.UpdateContainer div input:focus {
  outline: none;
}
 